# GitHub Action Workflow for releasing a new stable version of the plugin.
#
# Workflow is triggered manually w/ proper access.
#
# Additional Docs:
# - GitHub Actions: https://help.github.com/en/actions

name: release

on:
  release:
    types: [created]

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  release:
    strategy:
      matrix:
        product: [  "IC-2020.2", "IC-2021.1", "IC-2022.1", "IC-2022.2" ]
      max-parallel: 1
    env:
      PRODUCT_NAME: ${{ matrix.product }}
    runs-on: ubuntu-latest
    steps:
      # Check out current repository
      - name: Fetch Sources
        uses: actions/checkout@v2
      
      # Generate resources/plugin-changenotes.html
      - name: Generate Changenotes
        run: |
          gh release view --json body --jq '{ text: .body }' | gh api \
            --method POST \
            -H "Accept: application/vnd.github.v3+json" \
            --input - \
            /markdown \
            > resources/plugin-changenotes.html
      - name: Log Changenotes Content
        run: cat resources/plugin-changenotes.html

      # Downloads JDK 11 AWS Corretto Build
      - name: Download JDK
        run: wget https://corretto.aws/downloads/latest/amazon-corretto-11-x64-linux-jdk.tar.gz --output-document jdk.tar.gz

      # Setup JDK by using previously downloaded JDK.
      - name: Setup JDK
        uses: actions/setup-java@v1
        with:
          java-version: '11'
          jdkFile: jdk.tar.gz

      - name: Publish Stable Plugin
        env:
          PRODUCT_NAME: ${{ matrix.product }}
          PUBLISH_TOKEN: ${{ secrets.JETBRAINS_TOKEN }}
          PUBLISH_CHANNEL: release
        run: ./gradlew --stacktrace publishPlugin
