# GitHub Action Workflow for releasing a new stable version of the plugin.
#
# Workflow is triggered manually w/ proper access.
#
# Additional Docs:
# - GitHub Actions: https://help.github.com/en/actions

name: release-eap
on:
  # Manually run workflow to dispatch.
  workflow_dispatch:
jobs:
  release:
    strategy:
      matrix:
        product: [ ]
      max-parallel: 1
    env:
      PRODUCT_NAME: ${{ matrix.product }}
    runs-on: ubuntu-latest
    steps:
      # Check out current repository
      - name: Fetch Sources
        uses: actions/checkout@v2

      # Downloads JDK 11 AWS Corretto Build
      - name: Download JDK
        run: wget https://corretto.aws/downloads/latest/amazon-corretto-11-x64-linux-jdk.tar.gz --output-document jdk.tar.gz

      # Setup JDK by using previously downloaded JDK.
      - name: Setup JDK
        uses: actions/setup-java@v1
        with:
          java-version: '11'
          jdkFile: jdk.tar.gz

      - name: Publish EAP Plugin
        env:
          PRODUCT_NAME: ${{ matrix.product }}
          PUBLISH_TOKEN: ${{ secrets.JETBRAINS_TOKEN }}
          PUBLISH_CHANNEL: eap
        run: ./gradlew --stacktrace publishPlugin
